Flask==1.1.2
joblib==0.16.0
imageio==2.9.0
Keras==2.4.3
geopy==2.0.0
tensorflow==2.5.3
imutils==0.5.3
geopandas==0.6.1
matplotlib==3.2.2
pandas==1.0.5
requests==2.24.0
numpy==1.19.2
reverse_geocoder==1.5.1
scikit_learn==0.23.2
